{% extends "base.html" %}

{% block head %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://browserid.org/include.js"></script>
    <script type="text/javascript">
        $(function() {
            function gotAssertion(assertion) {
                if (assertion !== null) {
                    var $e = $('#id_assertion');
                    $e.val(assertion.toString());
                    $e.parent().submit();
                }
            }
            
            $('#browserid').click(function() {
                navigator.id.get(gotAssertion);
                return false;
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% if request.browserid %}
        Hi, {{ request.browserid }}. <a href="/browserid/logout/">Logout</a>
    {% else %}
        <a href="#" id="browserid" title="Sign-in with BrowserID">  
            <img src="https://browserid.org/i/sign_in_red.png" alt="Sign in">  
        </a>
        <form action="/browserid/login/" method="POST">
            <input type="hidden" name="assertion" id="id_assertion">
        </form>
    {% endif %}
{% endblock %}
